body{
    background-color: black;
    color: white;
}

#sym{
    margin-bottom: -2px;
}

h2{
    color: rgb(23, 240, 255);
    text-align: center;
}

#date{
    color: orange;
    text-align: center;
    margin-top: -10px;
    margin-bottom: -4px;
}